body{
    font-family: "Quicksand", sans-serif;
    background-image:url("../images/background-login-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#strona-logowania{
    margin: auto;
    border: 2px solid white;
    width: 400px;
    height: 430px;
    text-align: center;
    color: white;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    padding: 10px;
    letter-spacing: 2px;
    margin-top: 120px;
}
h2{
font-size: 40px;
margin-bottom: 15px;
}
#zaloguj{
    border-radius: 4px;
    border-color: white;
    padding: 10px;
    margin-top: 40px;
    background: none;
    color: white;
    backdrop-filter: blur(8px);
    font-family: "Quicksand", sans-serif;
}
#zaloguj:active{
    transform:scale3d(30px)
}
input:not([type="submit"]){
    padding: 10px;
    border-radius: 10px;
    border: none;
}
#blad-logowania{
    color: red;
    text-align: center;
    font-size: 110%;
    visibility: hidden;
}
#masz-konto{
    color: white;
    text-decoration: none;
}